@charset "UTF-8";
@font-face {
  font-family: 'Conv_Noteworthy-Light';
  src: url("../fonts/Noteworthy-Light.eot");
  src: local("☺"), url("../fonts/Noteworthy-Light.woff") format("woff"), url("../fonts/Noteworthy-Light.ttf") format("truetype"), url("../fonts/Noteworthy-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_museo_sans_cyrl_300';
  src: url("../fonts/museo_sans_cyrl_300.eot");
  src: local("☺"), url("../fonts/museo_sans_cyrl_300.woff") format("woff"), url("../fonts/museo_sans_cyrl_300.ttf") format("truetype"), url("../fonts/museo_sans_cyrl_300.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_TT1046M_';
  src: url("../fonts/TT1046M_.eot");
  src: local("☺"), url("../fonts/TT1046M_.woff") format("woff"), url("../fonts/TT1046M_.ttf") format("truetype"), url("../fonts/TT1046M_.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_18805';
  src: url("../fonts/18805.eot");
  src: local("☺"), url("../fonts/18805.woff") format("woff"), url("../fonts/18805.ttf") format("truetype"), url("../fonts/18805.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  height: 100%;
  width: 100%; }

.page {
  overflow: hidden;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%; }

.hide {
  display: none !important; }

.nav-brand-img {
  max-width: 100px;
  max-height: 50px; }

.header {
  min-height: 80px;
  box-shadow: -1.5px 2px 5px 0 rgba(1, 0, 0, 0.43); }

.navbar {
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav-list {
  list-style: none;
  display: flex; }

.number-first, .number-second {
  font-size: 1.8rem;
  font-family: 'Conv_Noteworthy-Light';
  font-weight: 100;
  letter-spacing: 1.29px;
  text-transform: uppercase; }

.number-first {
  color: #e8471c;
  margin-right: 40px; }

.number-second {
  color: #188ac7; }

footer {
  background-color: #e0f2f7;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  display: flex; }

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem; }
  .social__youtube {
    margin: 0 50px;
    cursor: pointer;
    background-color: #60b22e;
    border-radius: 50%;
    padding: 5px 7px; }
  .social__mail {
    cursor: pointer;
    background-color: #1198ce;
    border-radius: 50%;
    padding: 5px 7px; }
  .social__inst {
    cursor: pointer;
    background-color: #e51c20;
    border-radius: 50%;
    padding: 5px 7px; }
  .social__youtube:hover, .social__mail:hover, .social__inst :hover {
    font-size: 1.6rem;
    text-shadow: 0 0 5px white; }

.leftside {
  display: flex; }

.bg-blue {
  position: relative;
  margin-top: 600px;
  background-image: url("../../img/blue_block.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }

.specialists {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Conv_museo_sans_cyrl_300';
  z-index: 1;
  font-size: 1.4rem; }

.symbols {
  position: absolute;
  z-index: -99;
  bottom: 230px;
  left: 80px; }
  .symbols img {
    width: 80%; }

.special {
  bottom: 0; }

.wraper {
  justify-content: space-between;
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center; }

.menu {
  z-index: 0;
  min-width: 500px;
  min-height: 500px;
  background-image: url("../../img/start.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  left: -35px; }
  .menu__visible {
    display: flex !important;
    transition: all 0.5s; }
  .menu__teacher {
    background-color: #e8471b;
    top: 50px;
    right: 100px; }
    .menu__teacher img {
      width: 70%; }
  .menu__home {
    background-color: #009dcc;
    top: 185px;
    left: -35px; }
  .menu__mail {
    background-color: #51ad30;
    bottom: 15px;
    left: 150px; }
  .menu__mail, .menu__home, .menu__teacher {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    width: 125px;
    height: 125px;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    display: none;
    z-index: 1; }
  .menu__mail:hover, .menu__home:hover, .menu__teacher:hover {
    width: 135px;
    height: 135px;
    box-shadow: 0 0 5px white; }

.menu:hover {
  transition: all 0.5s;
  min-width: 550px;
  min-height: 550px; }

.bg-green {
  z-index: 0;
  position: relative;
  background-image: url("../../img/green_block.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.educational {
  width: 80%;
  color: white; }
  .educational__title {
    font-size: 2rem;
    margin: 0;
    font-family: 'Conv_Noteworthy-Light'; }
  .educational__body {
    font-family: 'Conv_museo_sans_cyrl_300'; }

.lamp {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  bottom: 5px;
  right: -35px; }

.bg-red {
  background-image: url("../../img/orange_block.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  position: relative;
  width: 500px;
  height: 400px;
  margin-top: 200px; }
  .bg-red .kenguru {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); }

.background-white {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.849); }

.form {
  position: fixed;
  z-index: 3;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  background: radial-gradient(#4CCEB2, #2F8FD8);
  text-align: center;
  padding: 25px 0;
  border-radius: 15px; }
  .form .input__btn {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Conv_TT1046M_';
    padding: 10px 25px;
    border-radius: 20px;
    color: #fff;
    background: transparent;
    border: 1px solid white; }
    .form .input__btn :hover {
      cursor: pointer; }
  .form .input__btn:hover {
    box-shadow: 0 0 4px white; }
  .form fieldset {
    margin: 0 25px;
    border: 1px solid white;
    border-radius: 10px; }
  .form textarea {
    font-size: 20px;
    margin-bottom: 15px;
    width: 60%;
    resize: none; }
  .form h2 {
    font-size: 16px;
    font-family: 'Conv_Noteworthy-Light';
    opacity: 0.8;
    color: #fff; }
  .form .field legend {
    font-size: 20px;
    padding: 15px 0;
    font-family: 'Conv_TT1046M_';
    color: white; }
  .form .field label {
    font-family: 'Conv_museo_sans_cyrl_300';
    display: block;
    font-size: 30px;
    color: #fff; }
  .form .field input {
    border-radius: 10px;
    padding: 5px 15px;
    margin: 20px 0;
    width: 60%;
    font-size: 20px; }
  .form .close__btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: white; }

.btn-back {
  font-size: 2rem;
  position: fixed;
  color: black;
  background-color: orange;
  border-radius: 10px;
  padding: 2px 15px;
  top: 25px;
  left: 25px; }

.btn-back:hover {
  font-size: 2.4rem;
  text-shadow: 0 0 4px white;
  box-shadow: 0 0 5px orange; }

.first-sec {
  background-color: #51ad30; }

.englishForKids {
  margin: 0 auto;
  padding: 25px 0;
  width: 80%;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

.second-sec {
  background-color: #e8471b; }

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; }

  .nav-list {
    flex-direction: column; }

  .nav-item {
    margin-top: 10px; }

  .menu {
    min-width: 400px;
    min-height: 400px; }

  .bg-blue {
    max-width: 400px !important;
    max-height: 300px !important; }

  .symbols {
    bottom: 170px; }

  .rightside {
    justify-content: center;
    display: flex;
    flex-direction: column; }

  .bg-red {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px; }
    .bg-red .kenguru {
      width: 40%; }

  .educational__title {
    font-size: 1.3rem; }
  .educational__body {
    font-size: 0.8rem; }

  .bg-green {
    width: 90%;
    margin: 0 auto; }
    .bg-green .lamp {
      width: 100px;
      height: 100px;
      right: 0;
      bottom: 80px; }

  .bg-blue {
    width: 90%; }
    .bg-blue .specialists {
      font-size: 0.8rem; } }
@media (max-width: 1600px) {
  .wraper {
    flex-direction: column;
    justify-content: center; }

  .menu {
    left: 25px; }

  .bg-blue {
    margin-top: 300px !important; } }
@media (max-width: 425px) {
  .menu {
    min-width: 250px;
    min-height: 250xp; } }
